body{
    margin:0;
    z-index:0;
}
header{
    position:fixed;
    display:flex;
    width:100%;
    padding-top:5vh;
    font-size:3vh;
    padding-bottom:5vh;
    z-index:20;
    background-color:black;
    color:#ffde59;
}
.act{
    position:fixed;
    display:flex;
    width:100%;
    padding-top:5vh;
    font-size:3vh;
    padding-bottom:5vh;
    z-index:20;
    background-color:#ffde59;
    color:black;
}
#headercol1{
    font-family:"Times New Roman";
    flex:50%;
    padding-left:8vw;
    z-index:20;
}
#headercol2{
    font-family:"Courier";
    flex:50%;
    z-index:20;
}
a{
    outline:none;
    border:none;
    text-decoration:none;
    color:inherit;
}
header span{
    z-index:20;
    margin:1.65vw;
}
#intro{
    position:relative;
    top:13vh;
    background-color:#ffde59;
    color:black;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    display:flex;
}
#intro img{
    height:60vh;
    width:40vw;
}
#introtext{
    padding-left:5%;
    padding-top:7.3vh;
    padding-right:7.3vh;
}
#introtext span{
    font-family:"Courier";
    opacity:0.7;    
}
#introtext p{
    font-family:"Helvetica";
}
hr{
    display:block;
    height:2px;
    border:0;
    border-top:2px solid black;
    padding:0;
}
/*#readmore{
    outline:none;
    border:none;
    text-decoration:none;
    background-color:black;
    color:white;
    height:40px;
    width:221.1px;
    text-align:center;
    font-size:20px;
}
.arrow{
    border:solid white;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:5px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}*/
#navbutton{
    text-align:center;
}
button{
    height:40px;
    width:250px;
    outline:none;
    border:none;
    color:white;
    background-color:black;
    border-radius:2vh;
    font-size:15px;
    text-align:center;
}
button:hover{
    background-color:#5F6363;
}
.arrow{
    border:solid white;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:3.5px;
}  
.right{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
} 
.left{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}
#body{
    position:relative;
    top:13vh;
    background-color:black;
    color:#ffde59;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    font-family:"Courier";
}

@media only screen and (max-width:1244px){
    header{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol1{
        padding-bottom:1vh;
    }
    .act{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol2{
        font-size:2.7vh;
    }
    #intro{
        top:14vh;
    }
    #body{
        top:14vh;
    }
}
@media only screen and (max-width:480px){
    header{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol1{
        padding-bottom:1vh;
    }
    #headercol2{
        font-size:2.2vh;
    }
    .active{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #intro{
        top:13.7vh;
    }
    #body{
        top:13.7vh;
    }
}
@media only screen and (max-width:370px){
    header{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol1{
        padding-bottom:1vh;
    }
    #headercol2{
        font-size:1.8vh;
    }
    .active{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #intro{
        top:13.3vh;
    }
    #body{
        top:13.3vh;
    }
}