body{
    margin:0;
    z-index:0;
}
header{
    position:fixed;
    display:flex;
    width:100%;
    padding-top:5vh;
    font-size:3vh;
    padding-bottom:5vh;
    z-index:20;
    background-color:black;
    color:#ffde59;
}
.active{
    position:fixed;
    display:flex;
    width:100%;
    padding-top:5vh;
    font-size:3vh;
    padding-bottom:5vh;
    z-index:20;
    background-color:#ffde59;
    color:black;
}
#headercol1{
    font-family:"Times New Roman";
    flex:50%;
    padding-left:8vw;
    z-index:20;
}
#headercol2{
    font-family:"Courier";
    flex:50%;
    z-index:20;
}
header span{
    z-index:20;
    margin:1.65vw;
}
#intro{
    position:relative;
    top:13vh;
    height:40vh;
    background-color:#ffde59;
    color:black;
    z-index:10;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:8vw;
    padding-right:8vw;
}
#body{
    position:relative;
    top:13vh;
    z-index:10;
    background-color:black;
    color:#ffde59;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    font-family:"Courier";
}
p strong{
    color:#57ffdc;
}
#profiles{
    text-align:center;
}
a{
    outline:none;
    border:none;
    text-decoration:none;
}
hr{
    display:block;
    height:2px;
    border:0;
    border-top:2px solid white;
    padding:0;
}
summary{
    outline:none;
}
footer{
    position:relative;
    top:13vh;
    z-index:10;
    background-color:#ffde59;
    color:black;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:8vw;
    padding-right:8vw;
}
footer div{
    text-align:center;
}
footer span{
    opacity:0.6;
}
figure{
    display:inline-block;
    text-align:center;
}
footer img{
    height:3vh;
    padding-left:1vw;
    padding-right:1vw;
}
@media only screen and (max-width:1244px){
    header{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol1{
        padding-bottom:1vh;
    }
    .active{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #intro{
        padding-top:3vh;
    }
}
@media only screen and (max-width:480px){
    header{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #headercol1{
        padding-bottom:1vh;
    }
    #headercol2{
        font-size:2.2vh;
    }
    .active{
        display:block;
        text-align:center;
        padding-bottom:2vh;
    }
    #intro{
        padding-top:3vh;
    }
}