#intro{
    position:relative;
    top:13vh;
    background-color:#ffde59;
    color:black;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    font-family:"Times New Roman";
}
.hrtext{
    display:flex;
    align-items:center;
}
.hrbefore,.hrafter{
    flex:auto;
}
.hrcontent{
    text-align:center;
    padding-left:1vh;
    padding-right:1vh;
    font-family:"Times New Roman"
}
hr{
    display:block;
    height:2px;
    border:0;
    border-top:2px solid black;
    padding:0;
    align-items:center;
}
h2{
    margin:1vh;
    padding:0;
}
.row{
    display:flex;
}
.col{
    flex:33.3%;
    text-align:center;
    padding-bottom:1.5vh;
}
.col:hover{
    background-color:black;
    color:#ffde59;
    transition:0.5s;
}
.row a{
    display:block;
}
#body{
    position:relative;
    top:13vh;
    background-color:black;
    color:#ffde59;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.3vh;
    font-family:"Candara";
}
#body hr{
    display:block;
    height:2px;
    border:0;
    border-top:2px solid #ffde59;
    padding:0;
    align-items:center;
}
#imgflex{
    display:flex;
}
#imgcontent{
    padding-left:5vh;
}
#imgflex img{
    height:40vh;
}
.flexbox{
    display:flex;
}
.flex1{
    flex:50%;
    text-align:left;
}
.flex2{
    flex:50%;
    text-align:right;
}
.diffcol{
    color:#57ffdc;
}
summary{
    outline:none;
}
details img{
    padding-right:1.5vh;
}
ol{
    padding-left:15px;
}
ul{
    padding-left:20px;
}
@media only screen and (max-width:1062px){
    .flexbox{
        display:block;
    }
    .flex1,.flex2{
        text-align:left;
    }
}
@media only screen and (max-width:660px){
    h2{
        font-size:3vh;
    }
    .row{
        font-size:2vh;
    }
    .hrcontent{
        padding-left:0.8vh;
        padding-right:0.8vh;
    }
}
@media only screen and (max-width:450px){
    h2{
        font-size:2.5vh;
    }
    .row{
        font-size:1.5vh;
    }
    .hrcontent{
        padding-left:0.5vh;
        padding-right:0.5vh;
    }
}
@media only screen and (max-width:900px){
    #imgflex{
        display:block;
        text-align:center;
    }
    #imgcontent{
        text-align:left;
        padding:0;
        padding-top:2vh;
    }
}
@media only screen and (max-width:400px){
    #imgflex img{
        height:30vh;
    }
}