/* featured blog section */
#intro{
    position:relative;
    top:13vh;
    background-color:#ffde59;
    color:black;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    display:flex;
}
#intro img{
    height:60vh;
    width:40vw;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#introtext{
    padding-left:5%;
    padding-top:9vh;
    padding-bottom:9vh;
}
#introtext span{
    font-family:"Courier";
    opacity:0.7;    
}
#introtext p{
    font-family:"Helvetica";
}
#introtext .showp{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:6;
    -webkit-box-orient:vertical;
}
hr{
    display:block;
    height:2px;
    border:0;
    border-top:2px solid black;
    padding:0;
}
#navbutton{
    text-align:center;
}
button{
    height:40px;
    width:250px;
    outline:none;
    border:none;
    color:white;
    background-color:black;
    border-radius:2vh;
    font-size:15px;
    text-align:center;
}
button:hover{
    background-color:#5F6363;
}
.arrow{
    border:solid white;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:3.5px;
}  
.right{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
} 
.left{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}
.hidehead,.hidep,.hideimg{
    display:none;
}
/* recent blog section */
#body{
    position:relative;
    top:13vh;
    background-color:black;
    color:#ffde59;
    padding-top:2vh;
    padding-bottom:6vh;
    padding-left:8vw;
    padding-right:8vw;
    font-size:2.5vh;
    font-family:"Courier";
}
#body h3{
    font-family:"Times New Roman";
}
.blogcontent{
    background-color:#ffde59;
    color:black;
    border-radius:1vh;
    display:flex;
}
.blogcontent img{
    height:40vh;
    width:30vw;
    border-top-left-radius:1vh;
    border-bottom-left-radius:1vh;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.blogtext{
    padding-left:5%;
    padding-top:2.2vh;
    padding-bottom:2.2vh;
    padding-right:5%;
}
.blogtext p{
    font-family:"Helvetica";
}
/* media queries */
@media only screen and (max-width:1350px){
    #intro{
        display:block;
        padding-top:3vh;
    }
    #intro{
        text-align:center;
    }
    #introtext{
        text-align:left;
        padding-top:3vh;
        padding-bottom:3vh;
        padding-left:0vh;
    }
    #intro img{
        width:100%;
        border-radius:2vh;
    }
}
@media only screen and (max-width:650px){
    button{
        height:40px;
        width:200px;
    }
}
@media only screen and (max-width:650px){
    button{
        height:40px;
        width:150px;
    }
}
@media only screen and (max-width:400px){
    button{
        height:40px;
        width:120px;
    }
}
@media only screen and (max-width:1200px){
    .blogtext{
        padding-top:1vh;
        padding-bottom:3vh;
    }
}
@media only screen and (max-width:960px){
    .blogcontent{
        display:block;
        text-align:center;
    }
    .blogcontent img{
        width:100%;
        border-radius:1vh;
        border-bottom-right-radius:0vh;
        border-bottom-left-radius:0vh;
    }
    .blogtext{
        padding-top:1vh;
        padding-bottom:5vh;
        text-align:left;
    }
}